
<h3>Message de <%= lastname %> <%= firstname %></h3>
<table>
  <tbody style="text-align: left;">
    <tr>
      <th style="padding: 7px">Nom</th>
      <td style="padding: 7px"><%= lastname %></td>
    </tr>
    <tr>
      <th style="padding: 7px">Prénom</th>
      <td style="padding: 7px"><%= firstname %></td>
    </tr>
    <tr>
      <th style="padding: 7px">Email</th>
      <td style="padding: 7px"><%= email %></td>
    </tr>
    <tr>
      <th style="padding: 7px">Message</th>
      <td style="padding: 7px"><%= message %></td>
    </tr>
  </tbody>
</table>
<ul style="list-style: none;">
  <li style="font-weight: bold;">Institut Bien-Être Griottines® - 2021</li>
  <li>2 Rue des Moulins, 75000 Paris</li>
  <li>info@institut-bellevue.fr</li>
  <li>0607080910</li>
</ul>

